<div class="splash-img">
  <div class="splash-shade">
    <div class="splash-content">
      <h1>Time Sheet</h1>
      <p>Document your breaks and time you work.</p>
      <p>Export your document at the end of the day.</p>
      <button routerLink="/clocking" class="btn btn-success">
        Begin Today
      </button>
    </div>
  </div>
</div>

<div class="solid-background-light-color1 pb-3 pt-3">
  <div class="container home-section">
    <h2>Log your times on the fly!</h2>
    <p>
      The application allows you to log you next event starting with clocking
      in. This will alternate as there is no need to clock in two times in a
      row.
    </p>
  </div>
</div>

<div class="solid-background-light-color2 pb-3 pt-3">
  <div class="container home-section">
    <h2>Edit your logs!</h2>
    <p>
      The application allows you to edit your clock events. This will update
      preceding or succeeding events depending on overlap.
    </p>
  </div>
</div>

<div class="solid-background-light-color3 pb-3 pt-3">
  <div class="container home-section">
    <h2>Save your events to a JSON formatted text file!</h2>
    <p>
      The application allows you to save your events to a file on you local
      drive.
    </p>
  </div>
</div>

<div class="solid-background-light-color1 pb-3 pt-3">
  <div class="container home-section">
    <h2>Load your events from a JSON formatted text file!</h2>
    <p>
      The application allows you to load the events from a file from your disk
      such that you can review, add, edit, and save your file again.
    </p>
  </div>
</div>
